name: Publish

on: workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.0.x
    - name: Build (Release)
      run: dotnet build --configuration Release
    - name: Push to NuGet
      run: dotnet nuget push "FluentRandomPicker/bin/Release/*.nupkg" -k '${{ secrets.NUGET_KEY }}' --source https://api.nuget.org/v3/index.json
